<!DOCTYPE html>
<html lang="en">
    <html lang="en">

        <%- include('../partials/head',{title: 'Sugoi Sushi'}) %>

    <body class="logReg">

        <%- include('../partials/header') %>

    <main class="logReg2">
        <div class="login-container">
            <div class="login-box">
                <h2>Regístrate</h2>

                        <!-- form method post y multer -->
                <form method="post" enctype="multipart/form-data"> 
                    <div class="user-box">
                        <input type="text" name="nombre" >
                        <label>Nombre</label>
                        <small>Debe ingresar su nombre</small>
                    </div>
                    <div class="user-box">
                        <input type="text" name="apellido" >
                        <label>Apellido</label>
                        <small>Debe ingresar un email valido</small>
                    </div>
                    <div class="user-box">
                        <input type="email" name="email" >
                        <label>Email</label>
                        <small>Debe ingresar un email</small>
                    </div>
                    <div class="user-box">
                        <input type="password" name="password" >
                        <label>password</label>
                        <small>Debe ingresar una contraseña</small>
                    </div>
                    <div class="user-box">
                        <input type="password" name="confirma" >  <!-- mismo nombre para la validacion ? -->
                        <label>Confirmar</label>
                        <small>Ambas contraseñas deben coincidir</small>
                    </div>
                    <div class="user-box">
                        <input type="file" name="imagen" >  <!-- multer -->
                        <!-- <label>Subí una imagen</label>  -->
                        <small>Subí una imagen</small>
                    </div>
                    <div class="btn-container">
                        <button type="submit">Crear usuario</button>
                    </div>
                    <div class="submit-container">
                        <a href="#">
                        <span></span>
                        <span></span>
                        <span></span>
                        Registrarse
                        </a>
                    </div>
                    <div class="user-box newsletter-checkbox">
                        <input id="newscheck" type="checkbox" name="" >
                        <small>Deseo recibir ofertas y promociones a mi correo.</small>
                    </div>
                </form>
                <div class="signup_link">
                    <p class="cuenta">¿ Ya tienes una cuenta ?</p>                 
                    <a href="/login">Ingresa Aquí</a>
                    </div>
        </div>

        </div>
    
    </main>
    <%- include('../partials/footer') %>
</body>
</html>
