.detail main .imagenes,
.detail main .imagenes .img-principal,
.detail main .imagenes .img-principal img,
.detail main .imagenes .img-secundarias,
.detail main .related img,
.detail main .related{
    width: 100%;
}
.detail{
     background-color:var(--colorNegro); 
    color: var(--colorBlanc);
}
.detail main .imagenes .img-secundarias img{
    width: 24%;
}
.detail main .related article{
    width:48%;
}
.detail main .product-detail small{
    font-size: 24px;
    color: green;
}
.detail main .product-detail h2{
    text-align: start;
}
.detail main .product-detail span{
    font-size: 24px;
    color: grey;
    text-decoration: line-through;
    margin-right: 10px;
}
.detail main .product-detail .precio{
    font-size: 3rem;
    color: var(--colorRojo);
    width: 100%;
}

.detail main .product-detail .sumar-carrito{
    display: flex;
}
.detail main .product-detail .sumar-carrito input{
    width: 50px;
    border: none;
}
.detail main .product-detail .sumar-carrito div{
    background-color: var(--colorRojo);
    color: var(--colorBlanco);
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    margin: 0 10px;
    border-radius: 5px;
}
.detail main .product-detail .bloque-completo{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.detail main .product-detail .bloque-completo article{
    height: 100px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.detail main .product-detail .bloque-completo article.price{
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    width: 50%;
    text-align: center;
}

.detail main .product-detail aside{
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    background-color: var(--colorRojo);
    color: var(--colorBlanco);
}

.detail main .product-detail aside h3{
    text-align: center;
    width: 100%;
    margin: 10px 0;
}
.detail main .product-detail aside article{
    width: 30%;
    text-align: center;
}
.detail main .product-detail aside article i{
    color: var(--colorNegro);
}

.detail main .product-detail button,
.detail main .related article button{
    border: none;
    background-color: var(--colorRojo);
    width: 160px;
    height: 45px;
    color: var(--colorBlanco);
    border-radius: 8px;
}
.detail main .product-detail h2{
    text-align: center;
}
.detail main .text-detail{
    margin: 20px 0;
    padding: 10px;
}
.detail main h2{
    margin-bottom: 20px;
    font-size: 30px;
    text-align: center;
    color: #ffffff90;
}

.detail main .related{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.detail main .related h2{
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}
.detail main .related article{
    background-color: #ffffff90;
    border-radius: 10px;
    padding: 20px;
    width: 205px;
    height: 350px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.detail main .related article .related-img-0,
.detail main .related article .related-img-1,
.detail main .related article .related-img-2,
.detail main .related article .related-img-3{
    width: 95%;
    margin: 0 auto;
    height: 170px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.detail main .related article .related-img-0{
    background-image: url('/img/malibu1.jpg');
}
.detail main .related article .related-img-1{
    background-image: url('/img/tokio.jpg');
    background-size: contain;
    background-position: center;
}
.detail main .related article .related-img-2{
    background-image: url('/img/valhalla.jpg');
}
.detail main .related article .related-img-3{
    background-image: url('/img/nigiri_salmonr.jpg');
}
.detail main .related article p{
    width: 100%;
    font-size: 20px;
    color: var(--colorRojo);
    text-align: center;
}
.detail main .related article h4{
    text-transform: uppercase;
    text-align: center;
}
.detail main section h5{
    text-align: center;
    font-size: 18px;
    padding-bottom: 20px;
    border-bottom: 2px solid rgba(123, 123, 123, 0.3);
}
.agregar {
    font-size: 30px;
}
.restar{
    font-size: 40px;
}
/* Tablet */
@media (min-width:769px){
    .detail main .related article{
        width: 30%;
        max-width:205px;
    }
}


/* Desktop */
@media (min-width:1024px){
    .detail main{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
    }
    .detail main .imagenes{
        width: 40%;
    }
    .detail main .product-detail{
        width: 40%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .detail main .related,
    .detail main .text-detail{
        width: 100%;
    }

    .detail main .related article{
        width: 24%;
        max-width:205px;
    }
}

.productDetail{
    height: 100%;
background-repeat: no-repeat;
background-size: auto;
background: linear-gradient(206deg, var(--colorRojo), var(--colorNegro));

}
.productDetail .ProductCard {
    font-family: 'Raleway', sans-serif;
}
.productDetail .ProductCard .banner{
    display: none;
    width: 100%;
    background-color: #000000;
}
.productDetail .ProductCard section article{
    margin: 20px 0;
    background-color: var(--colorNegro);
    padding: 10 16;
    
}
.productDetail .ProductCard section article .container{
    padding: 20px 16px;
}
.productDetail .ProductCard section .image{
    position: relative;
}
.productDetail main section .image:hover .producto{
    transform: scale(1.2);
    position: relative;
    transition: all 0.5s;
    z-index: 10;
}
.productDetail .ProductCard section .producto{
    background-color: var(--colorNegro);
    width: 100%;
}
.productDetail .ProductCard section h3{
    text-decoration: none;
    font-size: 1em;
    color: #ffffff;
    padding: 10px 30px;
    border: 2px solid var(--colorRojo);
    position: relative;
    transition: .5s;
    color: #ffffff;
    outline: 0;
    padding: 12px;
    background-color: #000;
    display: flex;
    justify-content: center;
}
.productDetail .ProductCard section h3::before,
.productDetail .ProductCard section h3::after {
    content: '';
    position: absolute;
    width: 40px;
    height: 40px;
    border: inherit;
    transition: .5s;
}
.productDetail .ProductCard section h3::before {
    top: -10px;
    left: -10px;
    border-width: 2px 0 0 2px;
}
.productDetail .ProductCard section h3::after {
    bottom: -10px;
    right: -10px;
    border-width: 0 2px 2px 0;
}

.productDetail .ProductCard section h3:hover::before,
.productDetail .ProductCard section h3:hover::after {
    width: calc(100% + 18px);
    height: calc(100% + 18px);
}

.productDetail .ProductCard section p{
    color: #ffffff;
    display: flex;
    justify-content: center;
    margin: 18px;
}
.productDetail .ProductCard section .price {
    margin-left: 0;
    display: flex;
    justify-content: center;
}

.productDetail .ProductCard section a{
    
    display: inline-block;
    bottom: 0;
    text-decoration: none;
    padding: 10px;
    transition: var(--colorRojo) .5s; 
}
.price {
    color: grey;
    font-size: 22px;
  }
  
.ProductCard a {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: var(--colorRojo);
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
    overflow: hidden;
    transition: color 1s;
  }
  .ProductCard a:hover{
    background-color: var(--colorBlanco);
        color: var(--colorNegro);
        font-weight: 600;
    }
  
  .ProductCard button:hover {
    opacity: 0.7;
  } 
/* tablet*/
@media (min-width:425px) {
    .productDetail .ProductCard .banner{
        display: block;
        
    }
    .productDetail .ProductCard .banner img{
        width: 100%;
    }
    .productDetail .ProductCard section{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .productDetail .ProductCard section article{
        width: 48%;
    }
}

@media (min-width:768px){
    .productDetail{
        max-width: 2540px;
    }
    .productDetail .ProductCard section article{
        width: 32%;
    }
}
