*{
    margin: 0;
    
    background-size: cover;
    padding: 0;
    box-sizing: border-box;

    font-family: var(--fuente);
    color: white;

    font-family: var(--Fuente);

}

li{
    list-style: none;
}

a{
    text-decoration: none;
}

