
.home header{
    text-align: center;
}
.home header .logo{
    padding: 20px 0 40px;
}
.home header .logo img{
    width: 20vw;
    border: 1px solid var(--colorGris);
    animation: rotarLogo 10s normal linear infinite;
}
.home header button{
    width: 50px;
    height: 50px;
    font-size: 30px;
    margin-bottom: 30px;
    color: var(--colorRojo);
    border-radius: 25%;
    border: 1px solid var(--colorGris);
}

.home header ul li{
    background-color: var(--colorGris);
    padding: 10px;
    margin: 2px 0;
}

#admin{
    color: var(--colorRojo);
}

.home header ul li a {
    color: var(--colorBlanco);
    text-transform: uppercase;
}
/* Tablet */
@media (min-width:460px) {
    .home header{
        padding-bottom: 20px;
    }
    .home header button{
        display: none;
    }
    .home header ul{
        z-index: 50;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        
    }
    .home header ul li{
        width: 16%;
        font-size: 0.5rem;
        transition: background-color .5s;
    }
    .home header ul li:hover{
        background-color: var(--colorRojo);
    }
}
@media (min-width:560px) {
    .home header ul li{
        font-size: 68%;
    }
}
 header{
    
    position: relative;
    padding: 0;
    background-color: var(--colorNegro);
}
header .top{
    height:100px ;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}
header .logo{
    display: flex;
    align-items: center;
    width: 50%;
}
header img{
    margin-left: 15px;
    padding: 10px;
    width: 150px;
}
header .burger label{
    position: absolute;
    top: 30px;
    right: 25px;
    font-size: 20px;
    padding: 15px 10px;
    color: var(--colorBlanco);
    border: 1px solid var(--colorBlanco);
    border-radius: 10px;
    display: inline-block;
}
header .burger input{
    display: none;
}


header .burger input:checked ~ nav{
    display: none;
}
header .burger nav{
    width: 100%;
    display: block;
    margin-top: 20px;
    text-align: center;
}
header .burger nav ul{
    padding-bottom: 20px;
}
header .burger nav ul .none{
    display: none;
}
header .burger nav ul li{
    margin: 20px 0;
}
header .burger nav a{
    color: var(--colorBlanco);
    text-transform: uppercase;
    font-size: 18px;
}

@media (min-width:769px) {
    header{
        padding-right: 20px;
        height: 70px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    header .top{
        width: 10%;
    }
    header .burger input:checked ~ nav{
        display: flex;
    }
    header .burger label{
        display: none;
    }
    header .burger{
        width: 80%;
    }
    header .burger nav{
        flex-wrap: wrap;
        justify-content: space-between;
    }
    header .burger nav ul{
        display: flex;
        flex-wrap: wrap;
        width: 49%;
    }
    header .burger nav ul.menu{
        width: 65%;
        justify-content: flex-start;
    }
    header .burger nav ul.user{
        width: 32%;
        justify-content: flex-end;
    }
    header .burger nav ul li{
        padding: 0 5px;
    }
    header .burger nav ul li a{
        font-size: 16px;
    }
    header .burger nav ul.user .cerrar1{
        display: flex;
        align-items: center;
    }

    .imgProfile_header{
        margin-left: 0;
        width: 50px;
        height: 70px;
        border-radius: 20px;
        border-color: aliceblue;
        
    }


@media (min-width:1024px) {
    header .burger nav ul li{
        padding: 0 10px;
    }
    header .burger nav ul li a{
        font-size: 20px;
    }
    header .burger nav ul .none{
        display: block;
    }
    header .burger nav ul{
        display: flex;
        flex-wrap:nowrap;
    }
    header .burger .menu li{
        padding-right: 3%;
        /* letter-spacing: 0.5em; */
    }
    } 

@media (min-width:1600px) {
    header .burger .menu li{
        padding-right: 6%;
        letter-spacing: 0.5em;
    }
}
}
 header{
    
    position: relative;
    padding: 0;
    background-color: var(--colorNegro);
}
header .top{
    height:100px ;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}
header .logo{
    display: flex;
    align-items: center;
    width: 50%;
}
header img{
    margin-left: 15px;
    padding: 10px;
    width: 150px;
}
header .burger label{
    position: absolute;
    top: 30px;
    right: 25px;
    font-size: 20px;
    padding: 15px 10px;
    color: var(--colorBlanco);
    border: 1px solid var(--colorBlanco);
    border-radius: 10px;
    display: inline-block;
}
header .burger input{
    display: none;
}


header .burger input:checked ~ nav{
    display: none;
}
header .burger nav{
    width: 100%;
    display: block;
    margin-top: 20px;
    text-align: center;
}
header .burger nav ul{
    padding-bottom: 20px;
}
header .burger nav ul .none{
    display: none;
}
header .burger nav ul li{
    margin: 20px 0;
}
header .burger nav a{
    color: var(--colorBlanco);
    text-transform: uppercase;
    font-size: 18px;
}

@media (min-width:769px) {
    header{
        padding-right: 20px;
        height: 70px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    header .top{
        width: 10%;
    }
    header .burger input:checked ~ nav{
        display: flex;
    }
    header .burger label{
        display: none;
    }
    header .burger{
        width: 80%;
    }
    header .burger nav{
        flex-wrap: wrap;
        justify-content: space-between;
    }
    header .burger nav ul{
        display: flex;
        flex-wrap: wrap;
        width: 49%;
    }
    header .burger nav ul.menu{
        width: 65%;
        justify-content: flex-start;
    }
    header .burger nav ul.user{
        width: 32%;
        justify-content: flex-end;
    }
    header .burger nav ul li{
        padding: 0 5px;
    }
    header .burger nav ul li a{
        font-size: 16px;
    }


@media (min-width:1024px) {
    header .burger nav ul li{
        padding: 0 10px;
    }
    header .burger nav ul li a{
        font-size: 20px;
    }
    header .burger nav ul .none{
        display: block;
    }
    header .burger nav ul{
        display: flex;
        flex-wrap:nowrap;
    }
    header .burger .menu li{
        padding-right: 3%;
        /* letter-spacing: 0.5em; */
    }
    } 

@media (min-width:1600px) {
    header .burger .menu li{
        padding-right: 6%;
        letter-spacing: 0.5em;
    }
}
}