
body.logReg{
height: 100%;
font-family: var(--fuente);
background-repeat: no-repeat;
background-size: auto;
background: linear-gradient(120deg, var(--colorNegro), var(--colorRojo));
/* DESHABILITA SCROLL 
overflow: hidden; */
}

/*contenedor para el login, centrado vertical y horizontalmente con flexbox. Height depende del tamaño que usemos para el header y footer */
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50em;
}
.login-box{
    margin-top: 10px;
    /*position: relative;
    top: 62%;
    left: 212px;
    right: auto;*/
    width: 400px;
    padding: 40px;
    /*transform: translate(-50%, -50%);*/
    background: rgba(0, 0, 0,.5);
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 10px;
}
.login-box h2{
    margin: 0 0 30px;
    padding: 0;
    color: var(--colorBlanco);
    text-align: center;
}
.login-box .user-box{
    position: relative;
}
.login-box .user-box:nth-child(1) {
    margin-bottom: 20px;
}
.login-box .user-box input{
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color:var(--colorBlanco);
    margin-bottom: 5px;
    border: none;
    border-bottom: 1px solid var(--colorBlanco);
    outline: none;
    background: transparent;
}
.login-box .user-box label{
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    color: var(--colorBlanco);
    pointer-events: none;
    transition: .5s;
}
.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label{
    top: -20px;
    left: 0;
    color: #03e9f4;
    font-size: 12px;
}
.submit-container {
    display: flex;
    justify-content: center;
}
.login-box form a{
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color:var(--colorBlanco);
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 40px;
    letter-spacing: 4px;
}
.login-box a:hover{
    background:var(--colorRojo);
    color: var(--colorBlanco);
    border-radius: 5px;
    box-shadow: 0 0 5px var(--colorRojo),
                0 0 25px var(--colorRojo),
                0 0 50px var(--colorRojo),
                0 0 100px var(--colorRojo);
}
.login-box a span{
    position: absolute;
display: block;
}
.login-box a span:nth-child(1){
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, var(--colorRojo));
    animation: btn-anim1 1s linear infinite;
}
@keyframes btn-anim1 {
    0% {
        left: -100%;
    }
    50%, 100%{
        left:100%;
    }
}
.login-box a span:nth-child(2){
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, var(--colorRojo));
    animation: btn-anim2 1s linear infinite;
    animation-delay: .25s ;
}
 @keyframes btn-anim2 {
    0%{
        top: -100%;
    }
    50%, 100% {
        top: 100%;
    }
}

.login-box small {
    color: var(--colorBlanco);
    display: block;
    text-align: center;
}




/* Ya tienes una cuenta? */
.signup_link{
    margin: 30px 0 0 0;
    text-align: center;
    font-size: 16px;
}
.signup_link a{
    color: #2691d9;
    text-decoration: none;
    font-size: 20px;
}
.signup_link a:hover{
    font-size: 20px;
    text-decoration: underline;
    background: none;
    color: #fff;
    border-radius: 0px;
    box-shadow: none;
}
.homeAbout{
    width: 100vw;
    height: 25vh;
}
.logReg .logReg2 .login-container .login-box .signup_link .cuenta{

    font-size: 18px;
    padding-bottom: 20px;
    color: var(--colorBlanco);
    
}


-------------

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: #585858;
}
body .logReg{
    max-width: 1440px;
    margin: 0 auto; 

}
header{
    background-color: #000;
    position: relative;
    padding: 20px 0;
    margin-bottom: 20px;
    
}
header .top{
    max-height:80px ;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}
header .logo{
    display: flex;
    align-items: center;
    width: 50%;
}
header img{
    top: 15px;
    padding: 10px;
    width: 150px;
    border-radius: 25px;
}
header .burger label{
    position: absolute;
    top: 15px;
    right: 10px;
    font-size: 30px;
    padding: 20px 30px;
    color: white;
    border: 1px solid white;
    border-radius: 10px;
    display: inline-block;
}
header .burger input{
    display: none;
}
header .burger input:checked ~ nav{
    display: none;
}
header .burger nav{
    width: 100%;
    display: block;
    margin-top: 20px;
    text-align: center;
}
header .burger nav ul{
    padding-bottom: 20px;
}
header .burger nav ul li{
    margin: 20px 0;
}
header .burger nav a{
    color: white;
    text-transform: uppercase;
    font-size: 18px;
}




-----------



/* 
footer{
    
    
    margin-top: 0px;
    background-color: black; 
    margin-bottom: 0px;
}


.social-icon{
    display: flex;
    justify-content: center;
    list-style: none;
    height: fit-content;
    padding: 0;
    overflow: hidden;
}
.social-icon li{
    margin: 10px 10px;
}
.social-icon li a{
    font-size: 30px;
    height: 80px;
    width: 80px; 
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: white;
    position: relative;
    transition: 0.5s ease;
    text-shadow: 0 0 30px;
}
.social-icon li a::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    backdrop-filter: blur(1px) saturate(180%);
    -webkit-backdrop-filter: blur(6px) saturate(180%);
    background-color: rgba(17, 25, 40, 0);
    border-radius: 50%;
}
.social-icon li a:hover{
    text-shadow: 0 0 0px;
}

footer .goTop{
    font-size: 2rem;
    display: block;
    position: fixed;
    bottom: 80px;
    right: 20px;
    
}
footer .goTop a{
    color: var(--colorGris);
    transition: all 1s;
    opacity: 10%;
} */