@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;700&display=swap');

:root{

    --colorRojo:#cf1111;
    --colorNegro:#000000;
    --colorBlanco: #ffffff;

    --Fuente: 'Raleway', sans-serif;

}

