<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head',{title: 'Sugoi Sushi'}) %>
<body class="Carrito">
    <%- include('./partials/header') %>
    <main class="cart">
		<h1>Tienda Sugoi</h1>
		<section class="project">
			<div class="shop">
				<article class="card">
					<img src="/img/productos/combi1.jpg">
					<div class="content">
						<h3>Sugoi Sushi Product</h3>
						<p class="precio-principal">$2500</p>
                            <p class="unit">Cantidad : <input name="" value="1"></p>
						<p class="btn"><i class="fa-solid fa-cart-circle-plus"></i> <span class="btn2">Borrar</span></p>
				</div>
				</article>
				<article class="card">
					<img src="/img/productos/combi4.jpg">
                    <div class="content">
						<h3>Sugoi Sushi Product</h3>
                            <p class="precio-principal">$2500</p>
                            <p class="unit">Cantidad : <input name="" value="1"></p>
						<p class="btn"><i class="fa-solid fa-cart-circle-plus"></i> <span class="btn2">Borrar</span></p>
				</div>
				</article>
                <article class="card">
					<img src="/img/productos/combi3.jpg">
                    <div class="content">
						<h3>Sugoi Sushi Product</h3>
                            <p class="precio-principal">$2100</p>
                            <p class="unit">Cantidad : <input name="" value="1"></p>
						<p class="btn"><i class="fa-solid fa-cart-circle-plus"></i> <span class="btn2">Borrar</span></p>
				</div>
				</article>
			</div>
			<div class="totalidad">
				<p><span>Subtotal</span> <span>$6950</span></p>
				<hr>
				<p><span>IVA (30%)</span> <span>$2085</span></p>
				<hr>
				<p><span>Delivery</span> <span>$300</span></p>
				<hr>
				<p><span>Total a pagar</span> <span>$9335</span></p><a href="/detail"><i class="fa fa-shopping-cart"></i>Comprar</a>
			</div>
		</section>
    </main>
    <%- include('./partials/footer') %>
</body>
</html>