<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tienda Sugoi</title>
    <script src="https://kit.fontawesome.com/982e55d1de.js" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="/css/styles.css">
</head>
<body class="Carrito">
    <main class="cart">
		<h1>Tienda Sugoi</h1>
		<section class="project">
			<div class="shop">
				<article class="card">
					<img src="img/combi5.jpg">
					<div class="content">
						<h3>Sugoi Sushi Product</h3>
						<div class="detail">
                            <div class="precio-descuento">
                                <p class="precio-secundario">$1900</p>
                                <span>50%</span>
                            </div>
                            <p>$950</p>
						
                            <p class="unit">Cantidad : <input name="" value="1"></p>
						<p class="btn"><i class="fa-solid fa-cart-circle-plus"></i> <span>Borrar</span></p>
					</div>
				</article>
				<article class="card">
					<img src="/img/combi1.jpg">
					<div class="content">
						<h3>Sugoi Sushi Product</h3>
						<div class="detail">
                            <div class="precio-descuento">
                                <p class="precio-secundario">$2000</p>
                                <span>30%</span>
                            </div>
                            <p>$1400</p>
						<p class="unit">Cantidad : <input name="" value="1"></p>
						<p class="btn"><i class="fa-solid fa-cart-circle-plus"></i> <span class="btn2">Borrar</span></p>
					</div>
				</article>
				<article class="card">
					<img src="/img/combi4.jpg">
                    <div class="content">
						<h3>Sugoi Sushi Product</h3>
                            <p class="precio-principal">$2500</p>
                            <p class="unit">Cantidad : <input name="" value="1"></p>
						<p class="btn"><i class="fa-solid fa-cart-circle-plus"></i> <span class="btn2">Borrar</span></p>
				</div>
				</article>
                <article class="card">
					<img src="/img/combi3.jpg">
                    <div class="content">
						<h3>Sugoi Sushi Product</h3>
                            <p class="precio-principal">$2100</p>
                            <p class="unit">Cantidad : <input name="" value="1"></p>
						<p class="btn"><i class="fa-solid fa-cart-circle-plus"></i> <span class="btn2">Borrar</span></p>
				</div>
				</article>
			</div>
			<div class="totalidad">
				<p><span>Subtotal</span> <span>$6950</span></p>
				<hr>
				<p><span>IVA (30%)</span> <span>$2085</span></p>
				<hr>
				<p><span>Delivery</span> <span>$300</span></p>
				<hr>
				<p><span>Total a pagar</span> <span>$9335</span></p><a href="/detail"><i class="fa fa-shopping-cart"></i>Comprar</a>
			</div>
		</section>
    </main>
    <footer class="footer">
        <div class="cont">
            <div class="info">
                <div class="Nosotros">
                    <h3>Sugoi Sushi</h3>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsam et est id sunt iusto earum molestiae praesentium.</p>
                </div>
                <div >
                    <h4>Redes</h4>
                    <div class="socialButton">
                        <a href="https://www.instagram.com/"><i class='bx bxl-instagram-alt'></i></a>
                        <a href="https://www.facebook.com/"><i class='bx bxl-facebook'></i></a>
                        <a href="https://www.twitter.com/"><i class='bx bxl-twitter'></i></a>
                        <a href="https://www.discord.com/"><i class='bx bxl-discord-alt'></i></a>
                    </div> 
                </div>
                <div>
                    <h4>Ayuda</h4>
                    <ul>
                        <li><a href="#">Preguntas Frecuentes </a></li>
                        <li><a href="#">Formá parte de Nosotros</a></li>
                        <li><a href="#">Donde está mi pedido</a></li>
                        <li><a href="#">Formas de pago</a></li>
                    </ul>    
                </div>
                <div>
                    <h4>Paginas</h4>
                    <ul>
                        <li><a href="#">Sobre Nosotros</a></li>
                        <li><a href="#">Que ofrecemos</a></li>
                        <li><a href="#">Recursos Humanos</a></li>
                        <li><a href="#">Area de cobertura</a></li>
                    </ul>  
                </div>
            </div>
        </div>
        <div class="copyright">
            <p>Copyright © 2022-2022 SugoiSushi - Todos los derechos Reservados - Términos y Condiciones - Politica de Privacidad - Legales   info@sugoi-sushi.com.ar</p>
        </div>
    </footer>
</body>
</html>