<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head',{title: 'Sugoi Sushi'}) %>
    <body class="carta">
         <%- include('./partials/header') %>
         <main>
            <h1>Carta</h1>
                <section>
                    <article>
                        <h3>Bubba</h3>
                        <div class="imagenes">
                            <img src="/img/productos/bubba.jpg" alt="">
                        </div>
                        <div class="detail"> 
                            <div class="precio-descuento">
                                <p class="precio-secundario"><del>$3595</del></p>
                                <span>24%</span>
                            </div>
                            <p class="precio-principal">$2732</p>
                            <div class="button">
                                anadir carrito
                            </div>
                        </div>
                    </article>
                    <article>
                        <h3>langostinos en Panko</h3>
                        <div class="imagenes">
                            <img src="/img/productos/langos.jpg" alt="">
                        </div>
                        <div class="detail">
                            <div class="precio-descuento">
                                <p class="precio-secundario"><del>$1563</del></p>
                                <span>45%</span>
                            </div>
                            <p class="precio-principal">$860</p>
                            <div class="añadir-elementos">
                                <div class="restar">-</div>
                                <input type="number" value="1">
                                <div class="agregar">+</div>
                            </div>
                        </div>
                    </article>
                    <article>
                        <h3>New York Phila Hot</h3>
                        <div class="imagenes">
                            <img src="/img/productos/new york phila hot png.png" alt="">
                        </div>
                        <div class="detail">
                            <div class="precio-descuento">
                                <p class="precio-secundario"><del>$1904</del></p>
                                <span>30%</span>
                            </div>
                            <p class="precio-principal">$1333</p>
                            <div class="añadir-elementos">
                                <div class="restar">-</div>
                                <input type="number" value="1">
                                <div class="agregar">+</div>
                            </div>
                        </div>
                    </article>
                </section>
                
            </main>
                
            

        </main>
    </body>
</html>