<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head',{title: 'Sugoi Sushi'}) %>
    <body class="carta">
         <%- include('./partials/header') %>
         <main>
            <h1>Carta</h1>
                <section>
                    <h2>HOT ROLLS</h2>
                    <article>
                        <h3>Bubba</h3>
                        <p>(Langostinos, palta, queso
                            rebozado en panko japonés)</p>
                        <div class="imagenes">
                            <img src="/img/productos/bubba.jpg" alt="">
                        </div>
                        <div class="detail"> 
                            <div class="precio-descuento">
                                <p class="precio-secundario"><del>$3595</del></p>
                                <span>24%</span>
                            </div>
                            <p class="precio-principal">$2732</p>
                            <a href="/views/carrito">
                                <button name="button">añadir carrito</button>
                            </a>    
                        </div>
                    </article>
                    <article>
                        <h3>New York Phila</h3>
                        <p>(Salmón, palta, queso
                            rebozado en panko japonés)</p>
                        <div class="imagenes">
                            <img src="/img/productos/new york phila hot png.png" alt="">
                        </div>
                        <div class="detail">
                            <div class="precio-descuento">
                                <p class="precio-secundario"><del>$1904</del></p>
                                <span>30%</span>
                            </div>
                            <p class="precio-principal">$1333</p>
                            <a href="/views/carrito">
                                <button name="button">añadir carrito</button>
                            </a>
                            </div>
                        </div>
                    </article>
                    <h2>langostinos en Panko</h2>
                    <article>
                        <h3>Clasico</h3>
                        <p>(Langostino rebozado 
                            en panko japonés)</p>
                        <div class="imagenes">
                            <img src="/img/productos/langos.jpg" alt="">
                        </div>
                        <div class="detail">
                            <div class="precio-descuento">
                                <p class="precio-secundario"><del>$1563</del></p>
                                <span>45%</span>
                            </div>
                            <p class="precio-principal">$860</p>
                          
                            <a href="/views/carrito">
                                <button name="button">añadir carrito</button>
                            </a>
                            </div>
                        </div>
                    </article>
                    <article>
                        <h3>Picante</h3>
                        <p>(Langostino rebozado 
                            en panko japonés con
                            salsa asiatica picante)</p>
                        <div class="imagenes">
                            <img src="/img/productos/langos.jpg" alt="">
                        </div>
                        <div class="detail">
                            <div class="precio-descuento">
                                <p class="precio-secundario"><del>$1563</del></p>
                                <span>45%</span>
                            </div>
                            <p class="precio-principal">$860</p>
                          
                            <a href="/views/carrito">
                                <button name="button">añadir carrito</button>
                            </a>
                            </div>
                        </div>
                    </article>
                    <h2>ROLLS</h2>
                    <article>
                        <h3>CALIFORNIA</h3>
                        <p>(Kanikama, palta, queso)</p>
                        <div class="imagenes">
                            <img src="/img/productos/new york phila hot png.png" alt="">
                        </div>
                        <div class="detail">
                            <div class="precio-descuento">
                                <p class="precio-secundario"><del>$1904</del></p>
                                <span>30%</span>
                            </div>
                            <p class="precio-principal">$1333</p>
                            <a href="/views/carrito">
                                <button name="button">añadir carrito</button>
                            </a>
                            </div>
                        </div>
                    </article>
                    <article>
                        <h3>dallas</h3>
                        <p>(Salmón, palta, queso
                            coronado con crocante de batata)</p>
                        <div class="imagenes">
                            <img src="/img/productos/langos.jpg" alt="">
                        </div>
                        <div class="detail">
                            <div class="precio-descuento">
                                <p class="precio-secundario"><del>$1563</del></p>
                                <span>45%</span>
                            </div>
                            <p class="precio-principal">$860</p>
                          
                            <a href="/views/carrito">
                                <button name="button">añadir carrito</button>
                            </a>
                            </div>
                        </div>
                    </article>
                    <article>
                        <h3>KUBRICK</h3>
                        <p>(Salmón rosado, palta y queso, 
                            envuelto en salmón ahumado coronado 
                            con crocante de batata y salsa agridulce)</p>
                        <div class="imagenes">
                            <img src="/img/productos/bubba.jpg" alt="">
                        </div>
                        <div class="detail"> 
                            <div class="precio-descuento">
                                <p class="precio-secundario"><del>$3595</del></p>
                                <span>24%</span>
                            </div>
                            <p class="precio-principal">$2732</p>
                            <a href="/views/carrito">
                                <button name="button">añadir carrito</button>
                            </a>    
                        </div>
                    </article>
                    <article>
                        <h3>FLAMINGO</h3>
                        <p>(Langostinos, palta, queso, envuelto en
                            salmón ahumado coronado
                            con salsa de maracuyá)</p>
                        <div class="imagenes">
                            <img src="/img/productos/new york phila hot png.png" alt="">
                        </div>
                        <div class="detail">
                            <div class="precio-descuento">
                                <p class="precio-secundario"><del>$1904</del></p>
                                <span>30%</span>
                            </div>
                            <p class="precio-principal">$1333</p>
                            <a href="/views/carrito">
                                <button name="button">añadir carrito</button>
                            </a>
                            </div>
                        </div>
                    </article>
                    <article>
                        <h3>KIBO AHUMADO</h3>
                        <p>(Rúcula, queso, envuelto en
                            finas laminas de salmón ahumado)</p>
                        <div class="imagenes">
                            <img src="/img/productos/langos.jpg" alt="">
                        </div>
                        <div class="detail">
                            <div class="precio-descuento">
                                <p class="precio-secundario"><del>$1563</del></p>
                                <span>45%</span>
                            </div>
                            <p class="precio-principal">$860</p>
                          
                            <a href="/views/carrito">
                                <button name="button">añadir carrito</button>
                            </a>
                            </div>
                        </div>
                    </article>
                    <h2>carta completa</h2>
                    <iframe src="/public/CartaCompleta2022.pdf" frameborder="0"></iframe>
                </section>
        </main>
    </body>
</html>