<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head',{title: 'Sugoi Sushi'}) %>
<body class="detail">
    <%- include('./partials/header') %>
    <main>
        <section class="imagenes">
            <div class="img-principal">
                <img src="/img/nyphot.jpg" alt="">
            </div>
        </section>
        <section class="product-detail">
            <h2>New York Phila HOT</h2>
            <div class="bloque-completo">
                <article class="price">
                    <small>30%</small>
                    <span>$1800</span>
                    <p class="precio">$1260 x8u</p>
                </article>
                <article>
                    <div class="sumar-carrito">
                        <div class="restar">-</div>
                        <input type="number">
                        <div class="agregar">+</div>
                    </div>
                    <button>Comprar producto</button>
                </article>
            </div>
        </section>
        <section class="text-detail">
            <br>
            <h2>Descripción</h2>
            <h5>Salmón rosado, palta, queso, rebozado en panko japones</h5>
        </section>
        <section class="related">
            <h2>Tambien puede interesarte</h2>
            <article>
                <a href=""><div class="related-img-0"></div></a>
                <p>$1600</p>
                <h4>Malibú</h4>
                <button>añadir al carrito</button>
            </article>
            <article>
                <a href=""><div class="related-img-1">
                    
                </div></a>
                <p>$1400</p>
                <h4>Tokio</h4>
                <button>añadir al carrito</button>
            </article>
            <article>
                <a href=""><div class="related-img-2">
                </div></a>
                <p>$1800</p>
                <h4>Valhalla</h4>
                <button>añadir al carrito</button>
            </article>
            <article>
                <a href=""><div class="related-img-3">
                </div></a>
                <p>$1400</p>
                <h4>Nigiri</h4>
                <button>añadir al carrito</button>
            </article>
        </section>
    </main>
    <%- include('./partials/footer') %>
</body>
</html>