<!--
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
    
    <script src="https://kit.fontawesome.com/1a451b1708.js" crossorigin="anonymous"></script>
    
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body class="home">
    <main>
        <div class="banner">
            <img src="/img-banner.jpg" alt="">
        </div>
        <section>
            <article> 
                <div class="image">
                    <img class="producto" src="/img/prod.jpg" alt="">
                    <img class="etiqueta" src="/img-nuevo.png" alt="">
                    <a href="/" class="ampliar">ampliar foto</a>
                </div>
                <h3>Lorem ipsum amet</h3>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Excepturi laborum eveniet eius atque, nam exercitationem cum modi facere quae nesciunt nobis, velit ex.</p>
                <a href="#" class="link" class="link">ver más</a>
            </article>
            <article>
                <div class="image">
                    <img class="producto" src="/img/prod1.jpg" alt="">
                    <img src="/img-gratis.png" alt="" class="etiqueta">
                    <a href="/" class="ampliar">ampliar foto</a>
                </div>
                <h3>Lorem ipsum amet</h3>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Excepturi laborum eveniet eius atque, nam exercitationem cum modi facere quae nesciunt nobis, velit ex.</p>
                <a href="#" class="link">ver más</a>
            </article>
            <article>
                <div class="image">
                    <img class="producto" src="/img/prod3.jpg" alt="">
                    <img src="/img-descuento.png" alt="" class="etiqueta">
                    <a href="/" class="ampliar">ampliar foto</a>
                </div>
                <h3>Lorem ipsum amet</h3>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Excepturi laborum eveniet eius atque, nam exercitationem cum modi facere quae nesciunt nobis, velit ex.</p>
                <a href="#" class="link">ver más</a>
            </article>
            <article>
                <div class="image">
                    <img class="producto" src="/img/combi.jpg" alt="">
                    <img src="/img-nuevo.png" alt="" class="etiqueta">
                    <a href="/" class="ampliar">ampliar foto</a>
                </div>
                <h3>Lorem ipsum amet</h3>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Excepturi laborum eveniet eius atque, nam exercitationem cum modi facere quae nesciunt nobis, velit ex.</p>
                <a href="#" class="link">ver más</a>
            </article>
            <article>
                <div class="image">
                    <img class="producto" src="/img/combi2.jpg" alt="">
                    <img src="/img-gratis.png" alt="" class="etiqueta">
                    <a href="/" class="ampliar">ampliar foto</a>
                </div>
                <h3>Lorem ipsum amet</h3>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Excepturi laborum eveniet eius atque, nam exercitationem cum modi facere quae nesciunt nobis, velit ex.</p>
                <a href="#" class="link">ver más</a>
            </article>
            <article>
                <div class="image">
                    <img class="producto" src="/img/combi3.jpg" alt="">
                    <img src="/img-descuento.png" alt="" class="etiqueta">
                    <a href="/" class="ampliar">ampliar foto</a>
                </div>
                <h3>Lorem ipsum amet</h3>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Excepturi laborum eveniet eius atque, nam exercitationem cum modi facere quae nesciunt nobis, velit ex.</p>
                <a href="#" class="link">ver más</a>
            </article>
        </section>

    </main>
    <footer>
        <div class="goTop">
            <a href="#">
                <i class="fas fa-arrow-circle-up"></i>
            </a>
        </div>
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Quienes</a></li>
            <li><a href="#">Servicios</a></li>
            <li><a href="#">Porfolio</a></li>
            <li><a href="#">Sucursales</a></li>
            <li><a href="#">Contacto</a></li>
        </ul>
    </footer>
</body>
</html>
-->