
<!DOCTYPE html>
<html lang="en">
    <html lang="en">
        <%- include('./partials/head',{title: 'Sugoi Sushi'}) %>
    <body class="index">
        <%- include('./partials/header') %>
        <main class="index-main">
            <section class="inicio">
                <article>
                    <div class="image">
                        <a class="grad" href="/detail"><img class="producto" src="/img/productos/nyphot.jpg" alt=""></a>
                        <img class="etiqueta" src="/img/img-descuento.png" alt="">
                    </div>
                </article>
                <article>
                    <div class="image">
                        <a href="/detail"><img class="producto" src="/img/productos/malibu.jpg" alt=""></a>
                        <img class="etiqueta" src="/img/img-nuevo.png" alt="">
                    </div>
                </article>
                <article>
                    <div class="image">
                        <a href="/detail"><img class="producto" src="/img/productos/combi3.jpg" alt=""></a>
                        <img class="etiqueta" src="/img/img-tablas1.png" alt="">
                    </div>
                </article>
            </section>
        </main>
    <%- include('./partials/footer') %>
</body>
</html>
