<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head',{title: 'Sugoi Sushi'}) %>
<body class="nosotros">
    <%- include('./partials/header') %>
<main class="historia">
    <h1 class="titulo">Un poco de nosotros...</h1>
    <section class="contenedor-sobre-nosotro">
        <div class="cont-sobre-nosotros">
            <img src="/img/logo_blanco_png.png" alt="">
            <br></br>
            <br></br>
            <p>Supongo que muchas empresas han sabido captar la antencion del mundo culinario japones, pero no muchas empresas logran mantener a esos clientes habitules o sorprenderlos con inovacion o creativad, ahi entra sugoi sushi, una empresa que no solo introduce sino desarrolla y trae el oriente al occidente de formas variadas, ya sea similar o familiar o tal vez algo experimiental, pero siempre con una experiencia abierta a nuevos y conocedores.</p>
            <br></br>
        </div>
        <div class="cont-sobre-nosotros">
            <img src="/img/productos/japon5.jpg" alt="">
            <img src="/img/productos/japon3.jpg" alt="">
            <br></br>
            <br></br>
            <p>Para traer sushi al occidente primero se debe saber como poder interpretar lo inusual para convertirlo en algo cotidiano, no es solo traerlo y ya, se sabe que la mayoria que escucha sushi, el 84% solo piensa ena variedad muy limitada de alimentos demasiado esteorotipados, cosa que las persoas causales se les hace dificil pensar que en ve de pedir un maki, podrian pedir un temaki, por eso la investigacion que se llevo a cabo fue en beneficio del consumidor, una buena inversion se podria decir.</p>
            <br></br>
            <br></br>
        
        </div>
        <div class="sushi-arg">
            <h2>Pasos del sushi en argentina</h2>
            <br></br>
            <p>El crecimiento del sushi en la Argentina tiene varios peldaños icónicos. Primero hay que desmitificar la novedad: el sushi existe localmente desde hace décadas. Un buen ejemplo es el restaurante Yuki, abierto hace 47 años por la familia Kaneto, la misma que hoy sigue ofreciendo el -para muchos- mejor sushi tradicional de la Argentina. Por ese entonces, la cocina japonesa era para unos pocos comensales, principalmente japoneses, descendientes de japoneses y algunos sibaritas empedernidos. El gran salto ocurrió en los años 90, con un dólar económico que financió los viajes al exterior de muchos argentinos que así pudieron conocer otras cocinas del mundo. Entre ellas, la japonesa. Así, en 2001 abrió el restaurante más influyente en lo que respecta al sushi argentino contemporáneo: <strong>Sugoi Sushi.</strong></p>
        </div>
    </section>
</main>
<%- include('./partials/footer') %>
</body>
</html>