<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head',{title: 'Sugoi Sushi' }) %>
    <body class="promociones">
        <%- include('./partials/header') %>
            <main class="promociones-sugoi">
                <section class="promo">
                    <div id="productos-convi">
                        <a href="#productos-convi">Combinados</a>
                        <article class="articulos">
                            <h3>- COMBINADO LARUSSO</h3>
                            <article>
                                <h4>24u</h4>
                                <p>4u BUBBA
                                    4u CALIFORNIA HOT
                                    4u DALLAS
                                    4u KODAMA
                                    4u PHILADELPHIA
                                    4u BRUCE LEE</p>
                            </article>
                            <article>
                                <h4>32u</h4>
                                <p>4u BUBBA
                                    4u CALIFORNIA HOT
                                    4u DALLAS
                                    4u KODAMA
                                    4u PHILADELPHIA
                                    4u BRUCE LEE
                                    4u GRANDMA
                                    4u KIBO</p>
                            </article>
                            <article>
                                <h4>40u</h4>
                                <p>4u BUBBA
                                    4u CALIFORNIA HOT
                                    4u DALLAS
                                    4u KODAMA
                                    4u PHILADELPHIA
                                    4u BRUCE LEE
                                    4u GRANDMA
                                    4u KIBO
                                    4u FLAMINGO
                                    4U KIBO AHUMADO</p>
                            </article>
                            <h3>- COMBINADO VEGGIE</h3>
                            <article>
                                <h4>24u</h4>
                                <p>4u VEGGIE FRIENDLY
                                    4u BORA BORA
                                    4u PARIS
                                    4u HAPPY MONDAYS
                                    4u IBIZA
                                    4u VEGGIE MEX</p>
                            </article>
                            <article>
                                <h4>32u</h4>
                                <p>4u VEGGIE FRIENDLY
                                    4u BORA BORA
                                    4u PARIS
                                    4u HAPPY MONDAYS
                                    4u IBIZA
                                    4u VEGGIE MEX
                                    4u VEGGIE SUN (hot)
                                    4u YASAI (hot)</p>
                            </article>
                            <article>
                                <h4>40u</h4>
                                <p>4u VEGGIE FRIENDLY
                                    4u BORA BORA
                                    4u PARIS
                                    4u HAPPY MONDAYS
                                    4u IBIZA
                                    4u VEGGIE MEX
                                    4u VEGGIE SUN (hot)
                                    4u YASAI (hot)
                                    4u KONICHIWA
                                    4u OSAKA</p>
                            </article>
                            <h3>- COMBINADO DELUXE</h3>
                            <article>
                                <h4>24u</h4>
                                <p>2u NIGIRIS DE SALMÓN SMOKE
                                    2u GEISHAS DE SALMÓN ROSADO
                                    4u BEREZINO
                                    4u TEXAS
                                    4 KODAMA
                                    4u NEW YORK PHILA HOT
                                    4u BUBBA HOT</p>
                            </article>
                            <article>
                                <h4>32u</h4>
                                <p>2u NIGIRIS DE SALMÓN ROSADO
                                    2u NIGIRIS DE SALMÓN SMOKE
                                    2u GEISHAS DE SALMÓN ROSADO
                                    2u GEISHAS DE SALMÓN SMOKE
                                    4u BEREZINO
                                    4u TEXAS
                                    4u VALHALLA
                                    4u HONEYBEE
                                    4u NEW YORK PHILA HOT
                                    4u BUBBA HOT</p>
                            </article>
                            <article>
                                <h4>40u</h4>
                                <p>2u NIGIRIS DE SALMÓN ROSADO
                                    2u NIGIRIS DE SALMÓN SMOKE
                                    2u GEISHAS DE SALMÓN ROSADO
                                    2u GEISHAS DE SALMÓN SMOKE
                                    4u BEREZINO
                                    4u TEXAS
                                    4u VALHALLA
                                    4u HONEYBEE
                                    4u NEW YORK PHILA HOT
                                    4u BUBBA HOT
                                    4u CALIFORNIA PARTY
                                    4u BRUCE LEE</p>
                            </article>
                        </article>
                    </div>
                    <div id="productos-navidad">
                        <a href="#productos-navidad">Promos navidad</a>
                        <article class="articulos">
                            <!-- <h2>promos navidad</h2> -->
                            <article>
                                <h4>板前 ITAMAE Choice</h4>
                                Piezas a elección del Sushiman
                                16u
                                24u
                                32u
                                40u
                                48u
                            </article>
                            <h3>COMBINADO LARUSSO</h3>
                            <article>
                                <h4>
                                    18u
                                </h4>
                                <p> 4u BUBBA
                                    4u CALIFORNIA HOT
                                    4u TEXAS
                                    4u BRUCE LEE
                                    2u GEISHAS DE SALMÓN ROSADO</p>
                            </article>
                            <article>
                                <h4>48u </h4>
                                <p>4u BUBBA
                                    4u CALIFORNIA HOT
                                    4u DALLAS
                                    4u KODAMA
                                    4u PHILADELPHIA
                                    4u BRUCE LEE
                                    4u GRANDMA
                                    4u KIBO
                                    4u FLAMINGO
                                    4U KIBO AHUMADO
                                    4u NEW YORK PHILA HOT
                                    4u BUBBA HOT</p>
                            </article>
                            <h3>COMBINADO VEGGIE</h3>
                            <article>
                                <h4>16u</h4>
                                <p>4u VEGGIE FRIENDLY
                                    4u BORA BORA
                                    4u PARIS
                                    4u HAPPY MONDAYS</p>
                            </article>
                            <article>
                                <h4>48u</h4>
                                <p>4u VEGGIE FRIENDLY
                                    4u BORA BORA
                                    4u PARIS
                                    4u HAPPY MONDAYS
                                    4u IBIZA
                                    4u VEGGIE MEX
                                    4u VEGGIE SUN (hot)
                                    4u YASAI (hot)
                                    4u KONICHIWA
                                    4u OSAKA
                                    4u GINZA
                                    4u SHINJUKU</p>
                            </article>
                            <h3>COMBINADO DELUXE</h3>
                            <article>
                                <h4>16u</h4>
                                <p>2u NIGIRIS DE SALMÓN
                                    2u GEISHAS DE SALMÓN SMOKE
                                    4u BRUCE LEE
                                    4u DALLAS
                                    4u NEW YORK PHILA</p>
                            </article>
                            <article>
                                <h4>48u</h4>
                                <p>2u NIGIRIS DE SALMÓN ROSADO
                                    2u NIGIRIS DE SALMÓN SMOKE
                                    2u GEISHAS DE SALMÓN ROSADO
                                    2u GEISHAS DE SALMÓN SMOKE
                                    2u GEISHAS SHIBUYA
                                    2u NIGIRI NAUSICAA
                                    4u BEREZINO
                                    4u KIBO AHUMADO
                                    4u VALHALLA
                                    4u HONEYBEE
                                    4u NEW YORK PHILA HOT
                                    4u BUBBA HOT
                                    4u CALIFORNIA PARTY
                                    4u BRUCE LEE
                                    4u TEXAS</p>
                            </article>
                        </article>
                    </div>
                    <div id="productos-descuento">
                        <a href="#productos-descuento">Domingo de descuento</a>
                        <article class="articulos">
                            <!-- <h2>domingo de descuento</h2> -->
                            <h3>POKÉ BOWL / CHIRASHI(para dos comensales)</h3>
                            <article>1- Arroz, kanikama, palta, queso</article>
                            <article>2- Arroz, salmón ahumado, palta, rucula, verdeo, queso</article>
                            <article>3- Arroz, salmón rosado, palta, alga nori tostada, queso, sésamo</article>
                            <article>4- Arroz, salmón rosado, manzana, pepino, queso, sésamo</article>
                            <article>5- Arroz, cherrys, zucchini, alga nori tostada, manzana, queso, sésamo Veggie
                            </article>
                            <article>6- Arroz, vegetales asados en teriyaki, pepino, zanahoria, palta, queso, sésamo
                                Veggie
                            </article>
                            <article>7- Arroz, langostinos tempura en panko japones, palta, pepino, queso, sésamo
                            </article>
                            <article>8- Arroz, salmón rosado tempura en panko japones, palta, queso</article>
                        </article>
                    </div>
                </section>
            </main>
            <%- include('./partials/footer') %>
    </body>

</html>