<footer class="footer">
    <div class="cont">
        <div class="info">
            <div class="Nosotros">
                <h3>Sugoi Sushi</h3>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsam et est id sunt iusto earum molestiae praesentium.</p>
            </div>
            <div >
                <h4>Redes</h4>
                <div class="socialButton">
                    <a href="https://www.instagram.com/">Instagram<i class='bx bxl-instagram-alt'></i></a>
                    <a href="https://www.facebook.com/">Facebook<i class='bx bxl-facebook'></i></a>
                    <a href="https://www.twitter.com/">Twitter<i class='bx bxl-twitter'></i></a>
                    <a href="https://www.discord.com/">Discord<i class='bx bxl-discord-alt'></i></a>
                </div>
            </div>
            <div>
                <h4>Ayuda</h4>
                <ul>
                    <li><a href="#">Preguntas Frecuentes </a></li>
                    <li><a href="#">Formá parte de Nosotros</a></li>
                    <li><a href="#">Donde está mi pedido</a></li>
                    <li><a href="#">Formas de pago</a></li>
                </ul>    
            </div>
            <div>
                <h4>Paginas</h4>
                <ul>
                    <li><a href="/nosotros">Sobre Nosotros</a></li>
                    <li><a href="#">Que ofrecemos</a></li>
                    <li><a href="#">Recursos Humanos</a></li>
                    <li><a href="#">Area de cobertura</a></li>
                </ul>  
            </div>
        </div>
    </div>
    <div class="copyright">
        <p>Copyright © 2022-2022 SugoiSushi - Todos los derechos Reservados - Términos y Condiciones - Politica de Privacidad - Legales   info@sugoi-sushi.com.ar</p>
    </div>
</footer> 
<script src="../../javascripts/carrito.js"></script>
</body>
</html>
